.title {
    font-size: 4vh;
}

.titleHolder {
    display: flex;
    float: left;
    flex-direction: column;
    &>hr {
        width: 60%;
        border-color: var(--highlight)
    }
}

@media (max-width: 840px) {
    .title {
        font-size: 3vh;
        text-align: center;
    }

    .titleHolder {
        align-items: center;
        width: 100%;
    }
}