.sectionOne {
    &>.signUp {
        background-color: #D9D9D9;
        display: flex;
        font-size: max(1.75vh, 2vw);
        border-radius: 15px;
        &>p {
            padding-left: 15px;
            margin: auto 0px;
        }
        &>a {
            text-decoration: none;
            color: black;
            margin: 10px 10px 10px auto;
            background: #F6B800;
            border-radius: 15px;
            display: flex;
            align-content: center;
            &>b {
                margin: auto;
                padding: 5px 15px;
                display: flex;
            }
        }
    }
    &>.apps {
        background-color: #F6B800;
        border-radius: 15px;
        margin: 30px 0px;
        &>p {
            width: 100%;
            text-align: center;
            font-size: calc(1.5vh + 2.0vw);
            padding: 20px 0 0 0;
            color: white;
            margin: 0;
        }
        &>div {
            display: flex;
            flex-direction: row;
            gap: 10px;
            overflow: auto;
            padding: 10px;
            .appCard {
                min-width: 300px;
                background-color: #FCF4C4;
                border-radius: 15px;
                display: flex;
                &>.img {
                    width: max(100px, 10vw);
                    height: max(100px, 10vw);
                    background-size: contain;
                    border-radius: 15px;
                    margin: 10px;
                }
                &>.div {
                    margin: auto 0px;
                    margin-right: 10px;
                    &>p {
                        font-size: 20px;
                    }
                }
            }
            
        }
    }
}

.sectionTwo {
  padding: 10vh 0 0;
  display: flex;
  flex-direction: column;
}

.sectionThree {
  display: flex;
  flex-direction: column;
  &>h3 {
      font-size: 3vh;
  }
  &>.btnHolder {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5vh;
      &>.sisBtn {
          font-size: 2.5vh;
          padding: 10px 0;
          width: 225px;
          min-width: 225px;
          text-align: center;
          background-color: var(--primary);
          margin: 20px;
          border-radius: 2px;
          letter-spacing: 1px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &:hover {
              filter: drop-shadow(0 0 1px grey);
          }
          &>span {
              font-size: 1vh;
              margin-top: -5px;
          }
      }
      &>.selected {
          background-color: var(--secondary);
      }
  }

  &>.bannerHolder, &>.watchThisSpace {
      width: 100%;
      height: calc(50vw/16*9);
      position: relative;
      margin: 25px auto;
      background-color: var(--primary);
      &>.banner {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: 100%;
          background-repeat: no-repeat;
          filter: brightness(50%)
      }
      &>h1 {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 4vw;
          font-weight: 500;
          letter-spacing: 2px;
          text-align: center;
      }
  }

  &>.watchThisSpace>h1 {
      color: black;
  }

  &>.schedule {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      &>span {
          font-size: 2vh;
      }
      &>table {
          width: 100%;
          border-spacing: 0;
          border: 1px solid black;
          margin-top: 20px;
          &>tr {
              &>td {
                  border: 1px solid black;
                  padding: 20px;
                  font-size: 3vh;
              }
          }
      }
  }

  &>.speakers {
      width: 100%;
      &>.speaker {
          display: flex;
          margin: 60px 0;
          align-items: center;
          &>.photo {
              border-radius: 480px;
              background-size: contain;
              width: 20%;
              margin: 0 15px;
              aspect-ratio: 1/1;
          }

          &>.description {
            width: 80%;
            //   display: flex;
            //   flex-direction: column;
              margin: 0 15px;
              &>h3 {
                  font-size: 2.5vh;
                  margin: 0;
              }

              &>p {
                  font-size: 2vh;
              }
          }
      }
  }

  &>.appBanner {
      background-image: linear-gradient(45deg, #F58F40, #F6B800);
      border-radius: 40px;
      padding: 30px;
      margin-bottom: 5vh;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      &>h1 {
          font-size: min(3.5vw, 3.5vh);
          letter-spacing: 1px;
          margin-bottom: 0;
      }
      &>p {
          font-size: min(2.5vw, 2.5vh);
      }
      &>a {
          text-decoration: none;
          color: var(--highlight);
          background-color: var(--primary);
          padding: 10px 30px;
          font-size: 2vh;
          border-radius: 10px;
          width: 200px;
          letter-spacing: 1px;
      }
  }

  &>.icons {
      width: 60vw;
      margin: 100px auto;
  }
}

.schedule {
    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid black;
        margin-top: 20px;
        &>tr {
            &>td {
                border: 1px solid black;
                padding: 10px;
                font-size: 2vh;
            }
        }
    }
}

.gettingThere {
    margin: 40px 0;
    &>div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        &>p {
            flex-grow: 1;
            flex-basis: 350px;
            font-size: max(calc(1vh + 1vw), 20px);
            line-height: max(calc(1.5vh + 1.5vw), 30px);
        }
        &>div {
            flex-grow: 1;
            flex-basis: 350px;
            height: 50vh;
        }
    }
}

.workshopCard {
    margin: 30px 0px;
    padding: 2vw;
    border-radius: 15px;
    display: flex;
    background-color: #FCF4C4;
    &>img {
        width: max(100px ,calc(5vw + 3vh));
        height: max(100px ,calc(5vw + 3vh));;
        object-fit: cover;
        border-radius: 15px;
        margin: auto 20px auto 0px;
    }
    &>div {
        &>p {
            display: flex;
            flex-wrap: wrap;
            &>.levelLabel {
                height: fit-content;
                padding: 10px 20px;
                border-radius: 99px;
                margin: auto 0px;
            }
            &>.title {
                margin: 0px 0px 0px 10px;
                font-size: calc(1.5vh + 1vw);
            }
        }

    }
}

@media (max-width: 840px) {
  .sectionThree {
      &> .btnHolder {
          &>.sisBtn {
              margin: 10px;
          }
      }
      &>.bannerHolder {
          height: calc(150vw/16*9);
          &>.banner {
              background-position: center;
          }
          &>h1 {
              font-size: 3.5vh;
          }
      }
      &>.schedule {
          &>table>tr>td {
              font-size: 2vh;
          }
      }
      &>.speakers>.speaker {
          flex-direction: column;
          margin-top: 0;
          &>.photo {
              width: min(calc(30vw), calc(100% - 20vw));
              margin: 4vw;
          }
      }
  }
}