.flexContainer {
    display: flex;
    padding-top: 8px;
    align-items: center;
    justify-content: center;
}

.articleBlock {
    display:block;
    border: 0.5px solid;
    width: 40%;
    height: 400px;
    margin: 0 32px;
    border-color: #aaaaaa;
}

.articleText {
    display:flex;
    align-items: center;
    height: 55%;
    flex-direction: column;
    padding: 16px;
}
.articleImgContainer {
    flex-direction: row;
    height:40%;
    width: 100%;
    object-fit:cover;
}

.seeMoreButton {
    color:inherit;
    margin-top: auto;
    padding:16px;
    text-decoration: underline solid var(--secondary) 5px;
}