@use "sass:math";

.overlay {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 200vh;
    width: 100vw;
    position: absolute;
    z-index: 50;
    display: none;
}

.sectionOne {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color: white;
    &>.bg {
        background-image: url("../../images/banners/students.jpeg");
        filter: brightness(0.55);
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-position: center -10vh;
    }
    &>.logoBig {
        background-image: url("../../images/logo_big.png");
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        width: 40vh;
        height: 40vh;
    }
    &>h1 {
        font-size: 12vh;
        letter-spacing: 3px;
        font-weight: 700;
        margin: 0 0;
        z-index: 10;
    }
    &>h3 {
        font-size: 4.5vh;
        letter-spacing: 3px;
        font-weight: 600;
        color: var(--highlight);
        margin: 20px 0;
    }
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    &>div {
        margin: 40px;
        margin-bottom: 0px;
        padding: 40px;
        width: 25vh;
        border-radius: 30px;
        filter: drop-shadow(0 0 1px grey);
        color: black;
        &:nth-child(1) { background-color: var(--primary); }
        &:nth-child(2) { background-color: var(--secondary); }
        &>h1 {
            font-size: 5vh;
            font-weight: 500;
            letter-spacing: 2px;
            margin: 0;
        }
        &>h3 {
            margin: 0;
            font-size: 3vh;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 10vh;

    &>.testimonials {
        width: 100%;
    }
}

.sectionThree {
    background-color: var(--primary);
    margin: 0 5vw;
    margin-bottom: 75px;
    border-radius: 30px;
    &>.slider {
        // font-size: 1vw;
        width: 100%;
        color: black;
        &>div {
            top: 0;
            bottom: 0;
        }
    }
}

.dotsClass {
    bottom: 25px
}

.testimonial {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex-direction: row;
    margin: 60px 0;
    align-items: center;
    &>.photo {
        flex-basis: math.div(100,4)*1%;
        border-radius: 50%;
        background-size: contain;
        min-width: max(150px,15vw);
        max-width: max(150px,15vw);
        margin: 0 15px 15px;
    }

    &>.description {
        flex-basis: 300px;
        flex-grow: 1;
        letter-spacing: 1px;
        margin: 0 15px;
        &>h3 {
            font-size: 2.5vh;
            margin: 0;
            font-weight: 300;
            &>span {
                font-weight: 700;
            }
        }
        &>p {
            font-size: calc(1.5vw + 1vh);
        }
    }
}

.rightTestimonal {
    &>.description {
        text-align: right;
        &>p {
            text-align: left;
        }
    }
    flex-direction: row-reverse;
}