.page {
    width: 100vw;
    overflow-x: hidden;
}

.overlay {
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 200vh;
    width: 100vw;
    position: absolute;
    z-index: 50;
    display: none;
}

.section {
    padding: 0 max(40px, calc(10vw + 10px));
    width: calc(100% - 2*max(40px, calc(10vw + 10px)));
}

.sectionOne {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color: white;
    &>.bg {
        background-image: url("../../images/banners/students.jpeg");
        filter: brightness(0.55);
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-position: center -10vh;
    }
    &>.logoBig {
        background-image: url("../../images/logo_big.png");
        background-position: center;
        background-size: 140%;
        background-repeat: no-repeat;
        width: 40vh;
        height: 40vh;
    }
    &>h1 {
        font-size: 12vh;
        letter-spacing: 3px;
        font-weight: 500;
        margin: 0 0;
        z-index: 10;
    }
    &>h3 {
        font-size: 4.5vh;
        letter-spacing: 3px;
        font-weight: 600;
        color: var(--highlight);
        margin: 20px 0;
    }
}

.stats {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
    &>div {
        margin: 40px;
        padding: 40px;
        width: 25vh;
        border-radius: 30px;
        filter: drop-shadow(0 0 1px grey);
        color: black;
        &:nth-child(1) { background-color: var(--primary); }
        &:nth-child(2) { background-color: var(--secondary); }
        &>h1 {
            font-size: 5vh;
            font-weight: 500;
            letter-spacing: 2px;
            margin: 0;
        }
        &>h3 {
            margin: 0;
            font-size: 3vh;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 10vh;

    &>.testimonials {
        width: 100%;
    }
}

.sectionThree {
    background-color: var(--primary);
    margin: 0 50px;
    width: calc(100% - 2*max(40px, calc(10vw + 10px)) - 100px);
    margin-bottom: 50px;
    border-radius: 30px;
    &>.slider {
        width: 100%;
        color: black;
        &>div {
            top: 0;
            bottom: 0;
        }
    }
}

.dotsClass {
    bottom: 25px
}

.testimonial {
    display: flex;
    margin: 60px 0;
    align-items: center;
    &>.photo {
        border-radius: 50%;
        background-size: contain;
        min-width: 150px;
        margin: 0 15px;
    }

    &>.description {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        &>h3 {
            font-size: 2.5vh;
            margin: 0;
            font-weight: 300;
            &>span {
                font-weight: 700;
            }
        }

        &>p {
            font-size: 2vh;
        }
    }
}

.carouselTestimonial {
    padding: 0 50px;
    width: calc(100% - 100px);
    &>.photo {
        border-radius: 50%;
        background-size: contain;
        min-width: max(200px, 10vw);
        min-height: max(200px, 10vw);
        margin: 0 15px;
    }
    &>.description {
        letter-spacing: 1px;
        &>p {
            font-size: 2.5vh;
            margin-top: 0;
        }
    }
}