.sectionTwo {
  padding: 10vh 0 0;
  display: flex;
  flex-direction: column;
}

.sectionThree {
  display: flex;
  flex-direction: column;
  &>h3 {
      font-size: 3vh;
  }
  &>.btnHolder {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5vh;
      &>.sisBtn {
          font-size: 2.5vh;
          padding: 10px 0;
          width: 225px;
          min-width: 225px;
          text-align: center;
          background-color: var(--primary);
          margin: 20px;
          border-radius: 2px;
          letter-spacing: 1px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &:hover {
              filter: drop-shadow(0 0 1px grey);
          }
          &>span {
              font-size: 1vh;
              margin-top: -5px;
          }
      }
      &>.selected {
          background-color: var(--secondary);
      }
  }

  &>.bannerHolder, &>.watchThisSpace {
      width: 100%;
      height: calc(50vw/16*9);
      position: relative;
      margin: 25px auto;
      background-color: var(--primary);
      &>.banner {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: 100%;
          background-repeat: no-repeat;
          filter: brightness(50%)
      }
      &>h1 {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 4vw;
          font-weight: 500;
          letter-spacing: 2px;
          text-align: center;
      }
  }

  &>.watchThisSpace>h1 {
      color: black;
  }

  &>.schedule {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      &>span {
          font-size: 2vh;
      }
      &>table {
          width: 100%;
          border-spacing: 0;
          border: 1px solid black;
          margin-top: 20px;
          &>tr {
              &>td {
                  border: 1px solid black;
                  padding: 20px;
                  font-size: 3vh;
              }
          }
      }
  }

  &>.speakers {
      width: 100%;
      &>.speaker {
          display: flex;
          margin: 60px 0;
          align-items: center;
          &>.photo {
              border-radius: 50%;
              background-size: contain;
              width: 480px;
              margin: 0 15px;
          }

          &>.description {
              display: flex;
              flex-direction: column;
              margin: 0 15px;
              &>h3 {
                  font-size: 2.5vh;
                  margin: 0;
              }

              &>p {
                  font-size: 2vh;
              }
          }
      }
  }

  &>.appBanner {
      background-image: linear-gradient(45deg, #F58F40, #F6B800);
      border-radius: 40px;
      padding: 30px;
      margin-bottom: 5vh;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      &>h1 {
          font-size: min(3.5vw, 3.5vh);
          letter-spacing: 1px;
          margin-bottom: 0;
      }
      &>p {
          font-size: min(2.5vw, 2.5vh);
      }
      &>a {
          text-decoration: none;
          color: var(--highlight);
          background-color: var(--primary);
          padding: 10px 30px;
          font-size: 2vh;
          border-radius: 10px;
          width: 200px;
          letter-spacing: 1px;
      }
  }

  &>.icons {
      width: 60vw;
      margin: 100px auto;
  }
}

@media (max-width: 840px) {
  .sectionThree {
      &> .btnHolder {
          &>.sisBtn {
              margin: 10px;
          }
      }
      &>.bannerHolder {
          height: calc(150vw/16*9);
          &>.banner {
              background-position: center;
          }
          &>h1 {
              font-size: 3.5vh;
          }
      }
      &>.schedule {
          &>table>tr>td {
              font-size: 2vh;
          }
      }
      &>.speakers>.speaker {
          flex-direction: column;
          margin-top: 0;
          &>.photo {
              width: calc(100% - 8vw);
              margin: 4vw;
          }
      }
  }
}